body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button {
    display: block;
    margin: 100px auto;
    width: 200px;
    height: 100px;
    font-size: 18px;
    background-color: #1e90ff;
    border: 1px solid #808080;
    border-radius: 8px;
    cursor: pointer;
}

p {
    text-align: center;
    font-weight: bold;
}